{
  "branches": [
    { "name": "main", "prefix": "v" },
    { "name": "develop", "prefix": "v", "suffix": "-dev" }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
